body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100vh;
  background: rgb(0, 255, 64);
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerContainer {
  width: 100px;
  height: 100px;
  background: rgb(116, 0, 0);
  margin: 5px;
}
.centerContainer2 {
  width: 100px;
  height: 100px;
  background: rgb(12, 0, 116);
  margin: 5px;
}
